@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}

/* Optionally, you can add styles to keep scrolling functionality */
body {
    overflow-y: scroll; /* Ensure vertical scrolling is still possible */
}
